
	
body {
	background: #fff;
	padding: 0;
	margin: 0;
	list-style: none;

}

@font-face {
	font-family: 'Archer-Bold';
    src: url('../fonts/Archer Bold.otf') format('opentype')        
}
a{
	text-decoration: none;
	color: white;
}
.clearfix:before,
.clearfix:after {

     content: ".";
     display: table;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#wrapper {
	
	

}
.content {
	width: 1170px;
	margin: 0 auto;
}
.logo {
	padding: 30px 6px;
	font: 40px 'Archer-Bold', sans-serif;
	color: #666666;
	width: 110px;
	float: left;
}
.contacts {
	padding: 40px 0;
	float: right;

	
}
.contacts:after {
	content:"";
	display: block;
	clear: both;
}
.logo:after {
	content:"";
	display: block;
	clear: both;
}

	
h1{
	padding: 0;
	margin: 0;
}
.contacts .phone, .contacts .mail {
	display: inline-block;
	font: 12px 'Roboto', sans-serif;
	color: #888888;
}
.mail {
	
	
	display: block;
	text-decoration: none;
	position: relative;
}
.phone{ 
	margin-right: 50px;
	display: block;
	text-decoration: none;
	position: relative;
}
ul {
	margin: 0;
	padding: 0;
}
.phone p:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 13px;
	left: -24px;
	background: url(../img/Phone.png) no-repeat 0 0;
}
.mail p:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	top: 14px;
	left: -24px;
	background: url(../img/mail.png) no-repeat 0 0;
}
.menu {
	float:left;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e9e9e9;
	
	

}
.menu li {
	list-style: none;
	float: left;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	border-left: 1px solid;
	border-color: #e9e9e9;
}
ul> li:nth-child(7){
	border-right: 1px solid;
	border-color: #e9e9e9; ;
}

.menu a{
	padding: 13px 26px;
	display: block;
	text-decoration: none;
	color: #666666;
	font: 15px/26px 'Roboto Condensed', sans-serif;


}
li{
	margin: 0;
	padding: 0;
}
.topline{
	
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	height: 52px;
}
.socicons{
	float: right;
	padding: 14px 0;
}
.socicons a{
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #bebebe;
	border-radius: 50%;
	background: url(../img/socialicons.png) no-repeat;

}
.socicons a.ic-rss {
	
	background-position: 0 0;
}
.socicons a.ic-fb {
	
	background-position: -25px 0;
}
.socicons a.ic-tw {
	background-position: -50px 0;
}
.socicons a.ic-koleso{
	background-position: -75px 0;
}
.socicons a.ic-pn{
	background-position: -100px 0;
}
.seeproject{
	background: url(../img/top-bg.jpg) no-repeat;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #e9e9e9;


}
.title, .twelvetitle{
	text-align: center;
	margin: 0 auto;
	color: #828282;
}
.text{
	padding-top: 235px;
	margin: auto;
	padding-bottom: 183px;
}


h2.title{

	font: 30px'Roboto Slab', serif;  
	padding: 15px 15px;
	background: #fbfbfb;
	width: 430px;

}
h3.title{
	margin-top: 25px;
	padding: 15px;
	font: 22px'Roboto Slab', serif; 
	width: 630px; 
	background: #fbfbfb ;
}
.twelvetitle{
	font: 14px'Roboto Slab', serif; 
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 25px;
	padding: 16px 20px;
	width: 116px;
	background: #fa6c65;
	border-bottom: 3px solid #d55c56;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.titlecreat, p{
	text-align: center;
	
}
h2.titlecreat{
	color: #616161;
	font: 28px/26px'Roboto Slab', serif;
	font-weight: bold;
}
.creativty{
	padding-top: 75px;
	background-color: #fbfbfb;
}
.creativty>.content>p{
	margin: auto;
	width: 900px;
	font: 18px/32px'Roboto Slab', serif;
	font-weight: lighter;
	color: #616161;
}
.creat{
	color: #fa6c65;
}
.circles{
	display: inline-block;
	margin: 0 auto;
	margin-right: 110px;
	padding-top: 170px;
	position: relative;
	width: 175px;
}
.circles:last-child{
	margin-right: 0;
}
.circles-elements{
	text-align: center;
}
.circles p{
	text-align: center;
	padding-left: 20px;
}
.circles:before{
	content: '';
	width: 105px;
	height:105px;
	position: absolute;
	background: url(../img/ecl1.png) no-repeat 0 0;
	top: 67px;
	right: 10px;
}
.ecl1:before{
	content: '';
	width: 105px;
	height:107px;
	position: absolute;
	background: url(../img/ecl1.png) no-repeat 0 0;
	top: 67px;
	right: 22px;
}
.ecl1:hover:before{
	content: '';
	width: 106px;
	height:115px;
	position: absolute;
	background: url(../img/eclhov1.png) no-repeat 0 0;
	top: 59px;
	right: 22px;
}
.ecl1:hover p{
	color: #fa6c65;
}
.ecl2:before{
	content: '';
	width: 105px;
	height:107px;
	position: absolute;
	background: url(../img/ecl2.png) no-repeat 0 0;
	top: 67px;
	right: 24px;
}
.ecl2:hover:before{
	content: '';
	width: 105px;
	height:110px;
	position: absolute;
	background: url(../img/eclhov2.png) no-repeat 0 0;
	top: 64px;
	right: 22px;
}
.ecl2:hover p{
	color: #fa6c65;
}
.ecl3:before{
	content: '';
	width: 105px;
	height:107px;
	position: absolute;
	background: url(../img/ecl3.png) no-repeat 0 0;
	top: 70px;
	right: 26px;
}
.ecl3:hover:before{
	content: '';
	width: 105px;
	height:110px;
	position: absolute;
	background: url(../img/eclhov3.png) no-repeat 0 0;
	top: 67px;
	right: 24px;
}
.ecl3:hover p{
	color: #fa6c65;
}
.ecl4:before{
	content: '';
	width: 105px;
	height:106px;
	position: absolute;
	background: url(../img/ecl4.png) no-repeat 0 0;
	top: 67px;
	right: 26px;
}
.ecl4:hover:before{
	content: '';
	width: 105px;
	height:110px;
	position: absolute;
	background: url(../img/eclhov4.png) no-repeat 0 0;
	top: 65px;
	right: 24px;
}
.ecl4:hover p{
	color: #fa6c65;
}
.circles p{
	color: #bbbbbb;
	font: 15px/65px'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
}
#projects{
	background: #ffffff;
	border-top: 1px solid #e9e9e9;
	position: relative;
	border-bottom: 1px solid #e9e9e9;
}
.projectstitles{
	text-align: center;
	padding: 73px 0;
}
.latestpr{
	font: 16px/26px'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fa6c65;
}
.stuff{
	font: 18px/26px'Roboto Slab', serif;
	font-weight: lighter;
	color: #848484;

}
.line{
	margin: 0 24px;
}
.projectsnav ul{
	text-align: center;
	position: relative;
}
.projectsnav ul li{
	display: inline-block;
	padding-right: 43px;

}
.projectsnav ul li:last-child{
	padding-right: 0;

}
.projectsnav ul li a{
	color: #616161;
	font: 14px/26px'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
}
.projectsnav ul li a:hover{
	color: #fa6c65;

}

.projectsnav li:nth-child(1):before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenav.png) no-repeat 0 0;  
    top: 7px;
    left: 263px;
}
.projectsnav li:nth-child(1):hover:before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenavhov.png) no-repeat 0 0;  
    top: 7px;
    left: 263px;
}
.projectsnav li:nth-child(2):before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenav.png) no-repeat 0 0;  
    top: 7px;
    left: 336px;
}
.projectsnav li:nth-child(2):hover:before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenavhov.png) no-repeat 0 0;  
    top: 7px;
    left: left: 336px;
}
.projectsnav li:nth-child(3):before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenav.png) no-repeat 0 0;  
    top: 7px;
    left: 470px;
}
.projectsnav li:nth-child(3):hover:before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenavhov.png) no-repeat 0 0;  
    top: 7px;
    left: 470px;
}
.projectsnav li:nth-child(4):before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenav.png) no-repeat 0 0;  
    top: 7px;
    left: 590px;
}
.projectsnav li:nth-child(4):hover:before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenavhov.png) no-repeat 0 0;  
   	top: 7px;
    left: 590px;
}
.projectsnav li:nth-child(5):before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenav.png) no-repeat 0 0;  
    top: 7px;
    left: 680px;
}
.projectsnav li:nth-child(5):hover:before{
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenavhov.png) no-repeat 0 0;  
  	top: 7px;
   	left: 680px;
}
.projectsnav li:nth-child(6):before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenav.png) no-repeat 0 0;  
    top: 7px;
    left: 833px;
}
.projectsnav li:nth-child(6):hover:before{
	
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
    background: url(../img/circlenavhov.png) no-repeat 0 0;  
    top: 7px;
    left: 833px;
}
.products{
	width: 1330px;
	padding-top: 30px;
	padding-bottom: 70px;
	margin: auto;

}
.products .firstcol{
	float: left;
	width: 320px;
	padding-left: 0;
	margin-right: 10px;
}
.secondcol{
	float: left;
	width: 320px;
	margin-right: 10px;
}
.thirdcol{
	float: left;
	width: 320px;
	margin-right: 10px;
}
.products.fourthcol{
	float: right;
	width: 320px;
	padding-right: 0;
}
.col>a>img{
	padding-top: 4px;
}
.blog{
	background: #fbfbfb;
}
.blog .content h3{
	font: 16px/26px'Roboto Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fa6c65;
	text-align: center;
	padding-top: 70px;
	margin: 0;
}
.blog .content p{
	font: 15px/26px'Roboto', serif;
	color: #7f7f7f;
	width: 705px;
	margin: auto;
	vertical-align: 100;
	margin-top: 30px;
}
.photostyle{
	float: left;
	background: #fbfbfb;
	width: 450px;
	margin-left: 10px;
	border-bottom: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}
.photostyle{
	background: #ffffff;
}
.photography{
	background: #fbfbfb;
	
	margin: auto;
}
.photocontent{
	padding-top: 50px;
	width: 1400px;
	margin: 0 auto;
	background: #fbfbfb;
}
.photostyle h2.title {
	font: 18px/50px'Roboto Condensed', serif;
	color: #616161;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	background: #ffffff;
}
.photostyle span{
	font: 13px/15px'Roboto Condensed', serif;
	font-weight: bold;
	color: #9f9f9f;
	margin-left: 38px;
	text-transform: uppercase;

}
.subtitle>.linedes{
	display:inline-block;
	padding: 10px 0;
}
.bottom-circles{
	padding-top: 30px;
	padding-bottom: 70px;
	width: 5%; 
	margin: 0 auto;
}
.circle{
	display: inline-block;
}
.circle:nth-child(1){
	width: 15px;
	height: 15px;
	 background: url(../img/bottomcircle.png) no-repeat 0 0;  
}
.circle:nth-child(1):hover{
	width: 15px;
	height: 15px;
	 background: url(../img/bottomcirclehov.png) no-repeat 0 0;  
}
.circle:nth-child(2){
	width: 15px;
	height: 15px;
	 background: url(../img/bottomcircle.png) no-repeat 0 0;  
}
.circle:nth-child(3){
	width: 15px;
	height: 15px;
	 background: url(../img/bottomcircle.png) no-repeat 0 0;  
}
#footer{
	background: #303538 !important;
}
.footer-content{
	width: 75%;
	margin: 0 auto;
}
.col1{
	width: 255px;
	float: left;
}
.col2{
	margin-left: 47px;
	width: 255px;
	float: left;
}
.col3{
	margin-left: 47px;
	width: 255px;
	float: left;
}
.col4{
	margin-left: 47px;
	width: 255px;
	float: right;
}
.foottitle{
	font: 16px/22px'Roboto Condensed', serif;
	font-weight: bold;
	color: #cacaca;
	text-transform: uppercase;
	margin-bottom: 23px;
}
.col p, time{
	text-align: left;
	font: 14px/24px'Roboto', serif;
	color: #cacaca;
	margin-bottom: 35px;
}
.time{
	font: 12px/25px'Roboto', serif;
}
.col1 p, .col2 p{
	margin-bottom: 35px;
}
.col3 p, .col4 p{
	margin-bottom: 30px;
	font: 14px/22px'Roboto', serif;
}
.copyright{
	background: #2d3134;
	padding: 33px;
	font: 14px/22px'Roboto', serif;
	color: #cacaca;
	
	
}
.copyright p{
	width: 78%;
	margin: auto;
	text-align: left;

}
